# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=

WEB_AUTHN_CHALLENGE=
APPLICATION_NAME=
    
# Next Auth Google Provider
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Email Provider
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_FROM=

# Drizzle
POSTGRES_URL=postgresql://postgres:admin@localhost:5432/postgres
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
# end Drizzle

# Vercel/blob
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=

# Sentry
SENTRY_AUTH_TOKEN=
